---
import Form from "../components/Form.astro";
import Layout from "../components/Layout.astro";
---

<Layout>
  <div class="p-5 px-52">
    <section class="flex justify-between items-center my-9 mb-20">
      <div class="pr-3">
        <h1 class="text-5xl mb-2 font-medium text-gray-900 dark:text-white">
          Create Email
        </h1>
        <p class="text-gray-100 mb-4">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <p class="text-gray-400">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
          recusandae mollitia harum vero dolorum sapiente
        </p>
      </div>
      <div class="bg-gray-800 p-7 rounded-full">
        <svg
          width="68px"
          height="68px"
          stroke-width="1.67"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          color="#1a88ff"
          ><path
            d="M7 9l5 3.5L17 9"
            stroke="#1a88ff"
            stroke-width="1.67"
            stroke-linecap="round"
            stroke-linejoin="round"></path><path
            d="M2 17V7a2 2 0 012-2h16a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2z"
            stroke="#1a88ff"
            stroke-width="1.67"></path></svg
        >
      </div>
    </section>
    <Form />
  </div>
  <h3 class="mt-9 px-52 text-xl font-medium text-gray-900 dark:text-white">
    Resultados
  </h3>
  <div class="p-5 px-52">
    <ul>
      <li class="py-10 border-y-2 px-3 border-gray-600">
        <pre
          contenteditable="true"
          class="text-lg break-normal font-inherit whitespace-pre-wrap cursor-text focus:outline-none focus:ring p-3 text-gray-500 border-2 border-gray-900 rounded-lg dark:hover:text-gray-300 hover:text-gray-600 dark:text-gray-400 dark:hover:bg-gray-700">
Gracias por hacer el esfuerzo adicional de pagarme. Aprecio de verdad que estés dispuesto a desvivirte por cumplir el acuerdo al que llegamos hace años.
        </pre>
        <div class="mt-4 gap-2">
          <button
            type="button"
            class="text-gray-700 hover:text-white border-2 border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 text-center mr-2 mb-2 dark:border-blue-500 dark:text-white dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800"
            >Copiar</button
          >
          <button
            type="button"
            class="text-gray-700 hover:text-white border-2 border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 text-center mr-2 mb-2 dark:border-blue-500 dark:text-white dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800"
            >Guardar</button
          >
        </div>
      </li>
      <li class="py-10 border-y-2 px-3 border-gray-600">
        <pre
          contenteditable="true"
          class="text-lg break-normal font-inherit whitespace-pre-wrap cursor-text focus:outline-none focus:ring p-3 text-gray-500 border-2 border-gray-900 rounded-lg dark:hover:text-gray-300 hover:text-gray-600 dark:text-gray-400 dark:hover:bg-gray-700">
Gracias por hacer el esfuerzo adicional de pagarme. Aprecio de verdad que estés dispuesto a desvivirte por cumplir el acuerdo al que llegamos hace años.
        </pre>
        <div class="mt-4 gap-2">
          <button
            type="button"
            class="text-gray-700 hover:text-white border-2 border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 text-center mr-2 mb-2 dark:border-blue-500 dark:text-white dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800"
            >Copiar</button
          >
          <button
            type="button"
            class="text-gray-700 hover:text-white border-2 border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 text-center mr-2 mb-2 dark:border-blue-500 dark:text-white dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800"
            >Guardar</button
          >
        </div>
      </li>
      <li class="py-10 border-y-2 px-3 border-gray-600">
        <pre
          contenteditable="true"
          class="text-lg break-normal font-inherit whitespace-pre-wrap cursor-text focus:outline-none focus:ring p-3 text-gray-500 border-2 border-gray-900 rounded-lg dark:hover:text-gray-300 hover:text-gray-600 dark:text-gray-400 dark:hover:bg-gray-700">
Gracias por hacer el esfuerzo adicional de pagarme. Aprecio de verdad que estés dispuesto a desvivirte por cumplir el acuerdo al que llegamos hace años.
        </pre>
        <div class="mt-4 gap-2">
          <button
            type="button"
            class="text-gray-700 hover:text-white border-2 border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 text-center mr-2 mb-2 dark:border-blue-500 dark:text-white dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800"
            >Copiar</button
          >
          <button
            type="button"
            class="text-gray-700 hover:text-white border-2 border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 text-center mr-2 mb-2 dark:border-blue-500 dark:text-white dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800"
            >Guardar</button
          >
        </div>
      </li>
    </ul>
  </div>
</Layout>
