---
import Footer from './Footer.astro'
import Navbar from './Navbar.astro'
---

<html lang='en' class='dark'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Create Text</title>
	</head>

	<body class='xl:mx-54 mx-auto dark:bg-gray-900 md:mx-10 lg:mx-36 2xl:mx-72'>
		<Navbar />
		<div class='px-5 pb-5 pt-2 md:px-20 lg:px-24 xl:px-48'>
			<slot />
		</div>
		<Footer />
	</body>
</html>

<style>
	body::before {
		content: '';
		background: rgb(0 153 255/0.1);
		filter: blur(100px);
		width: 300px;
		height: 300px;
		position: absolute;
		left: -50px;
		top: 100px;
		z-index: -1;
	}
</style>

<script src='@utilities/darkMode.js'></script>
