---
const { href, name } = Astro.props

let { pathname } = Astro.url
const matchUrl = pathname === href
---

<a
	href={href}
	class={`rounded-full p-2 text-sm text-gray-500 hover:bg-gray-200 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700 ${
		matchUrl ? 'dark:bg-gray-700 bg-gray-300' : 'bg-transparent'
	}`}
>
	{name}
</a>
